/* 

.hotel__content img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
}

.hotel__info {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
}

.hotel__info h2 {
    font-size: 1.5rem;
}

.hotel__info span {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
}

.hotel__info span i {
    color: var(--heading-color);
    font-size: 1.1rem;
}

.hotel__extra-details {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.hotel__info h5 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.hotel__info p {
    line-height: 30px;
    font-size: 1rem;
    color: var(--text-color);
}

.hotel__price {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--heading-color);
}

.review__item img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: block;
} */
